p {
    font-family: "Pixelify Sans", sans-serif;
    color: red;
    text-align: center;
    font-size: 150px;
    border-color: black; 
}

body {
    background-color: black;
    background-size: 20px;
}
button {
    background-color: black;
    color: red;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 100px;
    font-weight: 20;
    border-color: blue;
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 200px;
}

button:hover {
    background-color: black;
    transform: scale(1.15,1.15);
}
